{% extends "layoutAdmin.njk" %}

{% block content%}

    <form action="/admin/recipes" method="POST">

        <section class="content-admin">

            <h1>Criando receita</h1>

            {% include "admin/fields.njk" %}

            <button type="submit">Salvar receita</button>
        </section>

    </form>

{% endblock %}