{% extends "layoutAdmin.njk" %}

{% block head %}
    <title>Editar receita</title>
    {% endblock%}

    {% block content%}

        <form action="/admin/recipes/{{ id }}?_method=PUT" method="POST">

            <section class="content-admin">

                <h1>Editando receita</h1>

                {% include "admin/fields.njk" %}

                <button type="submit">Salvar receita</button>

            </section>

        </form>

        <form action="/admin/recipes?_method=DELETE" method="POST">
            <button type="submit">Deletar</button>
        </form>

    {% endblock %}