<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input type="url" name="avatar_url" value="{{ member.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Nome da receita</div>
    <div>
        <input type="text" name="name" value="{{ member.name }}">
    </div>
</div>

<div class="item">
    <div>Autor</div>
    <div>
        <input type="text" name="author" value="{{ member.email }}">
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div>
        <input type="text" name="ingredients" value="{{ member.birth }}">
    </div>
</div>

<div class="item">
    <div>Mode de preparo</div>
    <div>
        <input type="text" name="preparation" value="{{ member.birth }}">
    </div>
</div>

<div class="item">
    <div>Mode de preparo</div>
    <div>
        <input type="text" name="information" value="{{ member.birth }}">
    </div>
</div>

<button type="submit">Salvar receita</button>