{% extends "layoutAdmin.njk" %}

{% block content %}

    <h2 class="gerenciar_receitas">Gerenciar receitas</h2>
    <div class="cards_admin">
        <section class="content-admin card_index_admin">
            {% for item in items %}
                <section class="card_image">
                    <div class="card_adm" id="{{loop.index0}}">
                        <img src="{{ item.image }}" alt="Imagem de {{ item.title }}"/>
                    </div>
                </section>

                <section class="card_details">
                    <h3>{{ item.title }}</h3>

                    <p>
                        por
                        {{ item.author }}
                    </p>

                    <a href="#">Visualizar</a>
                </section>

            {% endfor %}

        </section>

    </div>

{% endblock %}