<!DOCTYPE html>
<html lang="en">
    <head>

        {% block head %}
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>Foodfy - Admin</title>

        {% endblock %}
        <link rel="stylesheet" href="/styles/styles.css"/>

    </head>

    <body>

        {% block menu %}
            <section class="content-admin-menu">
                <header class="menu-bar-admin">
                    <a href="/admin/recipes/" class="logoAdmin"><img src="/assets/logoAdmin.png" alt="Foodfy"/></a>
                </header>
            </section>
        {% endblock %}

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>

    </body>
</html>