{% extends "layout.njk" %}

{% block head %}
  <title>Receitas - Foodfy</title>

{% endblock %}

{% block menu %}
  <section class="content">
    <header class="menu-bar">
      <a href="/" class="logo"><img src="/assets/logo.png" alt=""/></a>
      <div class="links">
        <a href="/about">Sobre</a>
        <strong>
          <a href="/recipes">Receitas</a>
        </strong>
      </div>
    </header>
  </section>
{% endblock %}

{% block content %}

  <section class="content">
    <section class="cards recipes">
      {% for item in items %}
        <div class="card" id="{{loop.index0}}">
          <div class="card_image">
            <img src="{{ item.image }}" alt="Imagem de {{ item.title }}"/>
          </div>

          <div class="card_title">
            <h3>{{ item.title }}</h3>
          </div>

          <div class="card_author">
            <p>{{ item.author }}</p>
          </div>
        </div>
      {% endfor %}

    </section>
  </section>

  <script src="/scripts.js"></script>
{% endblock %}