@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --rocket-color: #7159c1;
}

body {
  font-family: "Roboto", sans-serif;
}

.content {
  padding: 1rem 25vw 2rem 25vw;
}

/* === MENU === */

.menu-bar {
  margin: 3.3% auto 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

header .logo img {
  width: 5.6625rem;
  height: 1.68125rem;
}

.links {
  display: inline;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.links a {
  text-decoration: none;
  color: black;
  margin-right: 2.1%;
}

header .links a.active {
  font-weight: bold;
}
/* === MAIN === */

main {
  background-color: #fbdfdb;
  margin-top: 1.3rem;
  border-radius: 1.875rem;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 25rem;
  position: relative;
}

.main_text {
  width: 10rem;
  padding: 3.75rem;
}

.main_text h1 {
  position: absolute;
  margin-top: 5%;
  font-size: 2rem;
  color: #111111;
}

.main_text p {
  position: absolute;
  bottom: 33%;
  opacity: 0.7;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #000000;
  max-width: 20.625rem;
}

.hero img {
  position: absolute;
  bottom: 0;
  right: 15%;
}

/* === CARDS === */

.cards {
  margin: 2rem auto 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
}

.cards img {
  width: 100%;
  height: 50%;
  border-radius: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.cards h3 {
  font-size: 1.125rem;
  color: #111111;
}

.cards p {
  font-size: 0.875rem;
  color: #777777;
  margin-top: 2%;
}

/* === FOOTER === */

footer {
  padding: 23px 0;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #999;
  background: #eee;
  bottom: 0;
  margin-top: 2%;
}

/* -------------------------------------------------------------- */

/* === ABOUT PAGE === */

.about h1 {
  font-size: 1.5rem;
  color: #111111;
  margin: 4.6% auto 1.8% auto;
}

.about p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #444444;
  margin-top: 2rem;
}

/* -------------------------------------------------------------- */

/* === RECIPES PAGE === */

.card {
  cursor: pointer;
}

.cards.recipes {
  margin: 2rem auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
}

/* -------------------------------------------------------------- */

/* === RECIPE PAGE === */

.recipe-image {
  margin-top: 1.5rem;
  border-radius: 0.9375rem;
  width: 100%;
}

.recipe-title {
  margin-top: 3.125rem;
  text-align: center;
  font-size: 2.25rem;
  color: #111111;
}

.recipe-author {
  margin-bottom: 1.875rem;
  margin-top: 0.25rem;
  text-align: center;
  font-size: 1.25rem;
  color: #777777;
}

h2.recipe-infos {
  display: inline;
}

.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-bottom: -2.9375rem;
}

.recipe-info-to-hide {
  font-size: 1.125rem;
  color: #444444;
  line-height: 1.75rem;
  transition: all 200ms;
  margin-bottom: 2.9375rem;
  margin-top: 1.25rem;
}

.button-hide {
  cursor: pointer;
  line-height: 1.625rem;
  border-radius: 0.3125rem;
  width: 5.625rem;
  margin-left: 0.625rem;
}

ul {
  list-style-position: inside;
}

/* === ADMIN PAGE === */

.content-admin {
  position: relative;
}

.content-admin,
.content-admin-menu {
  padding: 1rem 15vw 1rem 15vw;
}

.content-admin-menu {
  background: #111111;
}

/* .gerenciar_receitas {
  padding: 3rem 10vw 1rem 10vw;
} */

.menu-bar-admin {
  display: flex;
  justify-content: left;
}

header .logoAdmin img {
  margin: 0.6875rem auto 0.63125rem auto;
  width: 5.6625rem;
  height: 1.68125rem;
}

/* .content-admin h2 {
  margin-top: 2rem;
  width: 60%;
} */

/* === ADMIN CARDS === */

.content-admin.card_index_admin {
  display: grid;
  grid-template-columns: 16.25rem 0.6fr 16.25rem 0.6fr;
  gap: 1.5rem;
  position: relative;
  margin: auto;
}

.cards_admin .content-admin.card_index_admin .card_adm img {
  border-radius: 0.535625rem;
  width: 100%;
  height: auto;
}

.cards_admin .content-admin.card_index_admin .card_details h3 {
  color: #111111;
  size: 1.125rem;
  line-height: 1.3125rem;
  margin-top: 0;
  margin-bottom: 0.3125rem;
}

.cards_admin .content-admin.card_index_admin .card_details p {
  font-size: 0.875rem;
  color: #777777;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
}

.cards_admin .content-admin.card_index_admin .card_details a {
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--rocket-color);
  font-weight: bold;
}

/* === RECIPES DETAILS === */

.content.content-admin {
  padding: 1rem 15vw 1rem 15vw;
}

a.button {
  text-decoration: none;
  background: var(--rocket-color);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  margin: auto 0 auto auto;
  padding: 9px 20px;
  font-weight: bold;
}

.recipes-admin-button-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

/* === CREATE RECIPE PAGE === */

.content-admin .item {
  font-size: 1rem;
  color: #111111;
  font-weight: bold;
}

.content-admin .item input {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 98%;
  font-size: 1rem;
  color: #111111;
  line-height: 19px;
  padding: 0.8rem;
  margin: 0.7% auto 2% auto;
}

.add-ingredient,
.add-preparation {
  font-size: 1rem;
  color: #6558c3;
  text-align: right;
  font-weight: bold;
}

.content-admin .item textarea {
  height: 257px;
  width: 100%;

  resize: none;

  background: #ffffff;

  border: 1px solid #dddddd;
  border-radius: 4px;

  font-family: Roboto-Regular;
  font-size: 1.2rem;
  color: #111111;
  line-height: 24px;

  padding: 0.8rem;
  /* margin: 0.7% auto 2% auto; */
}

.recipes-admin-button-text-edit {
  padding: 2rem 2rem 2rem 0;
  position: relative;
}

button.save-recipee,
button.save-recipe,
button.delete-recipe {
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 0.6% 1.4%;
  font-family: "Roboto", sans-serif;
}

button.save-recipee {
  background: #6558c3;
}

button.save-recipe {
  background: #6558c3;
  position: absolute;
  top: 31%;
  right: 0;
}

button.delete-recipe {
  background: #dc4747;
  position: absolute;
  right: 9rem;
  top: 31%;
}
